/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$positive: #3bbb68;
// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/release/fonts" !default;
$font-family-sans-serif: 'aleolight', georgia;

@font-face {
  font-family: 'aleoregular';
  src: url('../font/aleo-regular-webfont.eot');
  src: url('../font/aleo-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/aleo-regular-webfont.woff2') format('woff2'),
  url('../font/aleo-regular-webfont.woff') format('woff'),
  url('../font/aleo-regular-webfont.ttf') format('truetype'),
  url('../font/aleo-regular-webfont.svg#aleoregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'aleolight';
  src: url('../font/aleo-light-webfont.eot');
  src: url('../font/aleo-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/aleo-light-webfont.woff2') format('woff2'),
  url('../font/aleo-light-webfont.woff') format('woff'),
  url('../font/aleo-light-webfont.ttf') format('truetype'),
  url('../font/aleo-light-webfont.svg#aleolight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'aleolightitalic';
  src: url('../font/aleo-lightitalic-webfont.eot');
  src: url('../font/aleo-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/aleo-lightitalic-webfont.woff2') format('woff2'),
  url('../font/aleo-lightitalic-webfont.woff') format('woff'),
  url('../font/aleo-lightitalic-webfont.ttf') format('truetype'),
  url('../font/aleo-lightitalic-webfont.svg#aleolightitalic') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'aleoitalic';
  src: url('../font/aleo-italic-webfont.eot');
  src: url('../font/aleo-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/aleo-italic-webfont.woff2') format('woff2'),
  url('../font/aleo-italic-webfont.woff') format('woff'),
  url('../font/aleo-italic-webfont.ttf') format('truetype'),
  url('../font/aleo-italic-webfont.svg#aleoitalic') format('svg');
  font-weight: normal;
  font-style: normal;

}

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@import "./main.scss";
.pane {
  background-color: $positive;
  color: $light;
}

.action-buttons {
  height: 48px;
  background-color: #378a5b;
  .reminders {
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    font-family: aleoregular;
    vertical-align: top;
    font-size: 1.5em;
    i {
      margin-right: 10px;
      margin-left: 10px;
      font-size: 1.0em;
    }
  }
  /* disabling drop-off
  .reminders, .drop-off {
    margin-top: 8px;
    font-family: aleoregular;
    vertical-align: top;
    float: left;
    width: 50%;
    font-size: 1.1em;
    i {
      margin-top: 8px;
      margin-right: 10px;
      margin-left: 10px;
      font-size: 1.3em;
    }
  }*/
}

.home {
  .possible-holiday {
    font-family:sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    i {
      font-size:40px;
      display: block;
      float: left;
    }

    a:link, a:visited, a:active {
      color: white;
    }
  }
  .no-schedule {
    h1 {
      color: white;
      text-align: center;
      margin-bottom: 30px;
    }
    text-align: center;
    margin: 20px;
    margin-top: 20%;
    color: white;
  }
  .schedule {
    .page.current {
      display: block;
    }
    .page {
    }
    .upcoming-event:nth-child(2) {

      z-index: 500;
      background-color: #38c37d;

      &.animate {
        display: block;
        background-color: orange;
        -webkit-transform-origin: top;
        transform-origin: top;
        -webkit-animation: balance2 .5s ease 110ms 1 alternate;
        animation: balance2 .5s ease 110ms 1 alternate;

      }
    }
    .upcoming-event:nth-child(2n) {
      background-color: lighten(#19a76e, 10%);
    }
    .upcoming-event {
      -webkit-perspective: 500;
      -moz-perspective: 500;
      -o-perspective: 500;
      perspective: 500;

      position: relative;
      z-index: 1;
      -webkit-transition: all 250ms ease;
      -moz-transition: all 250ms ease;
      -o-transition: all 250ms ease;
      transition: all 250ms ease;

      &.animate {
        background-color: red;
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        -webkit-animation: balance .5s ease 110ms 1 alternate;
        animation: balance .5s ease 110ms 1 alternate;

      }

      padding-top: 10px;
      text-align: center;
      background-color: #3bbb68;
      min-height: 250px;
    }
    .upcoming-event:nth-child(even) {
      z-index: 400;
      background-color: #38c37d;
    }
  }

  .waste-types {

    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row no-wrap;
    justify-content: space-around;
  }

  .waste-type {
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin: 5px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }

  .waste-type.heavy {
    /* This will be twice as big as the small item. */
    -webkit-flex: 2 0 0;
    flex: 2 0 0;
  }

  .upcoming-event {
    label {
      font-family: aleoregular;
      font-size: .5em;
    }
    h2 {
      margin-top: 10px;
      font-size: 2em;
      color: white;
    }
    h2 em {
      font-style: italic;
      font-weight: bold;
    }
    .when {
      font-size: .3em;
    }
    .waste-type img, .waste-type i {
      font-size: 2em;
      margin-left: auto;
      margin-right: auto;
      display: block;
      clear: both;
    }
    .waste-type i.fa {
      margin-top: 12px;
      font-size: 1.8em;
    }
  }

}

.remind-me {
  padding-top: 40%;
  text-align: center;
  h2, h1, h3 {
    color: white !important;
  }

  em {
    font-family: aleoitalic;
  }
  u {
    color: #d7ffb8;
  }
}

.remind-me-action {
  background-color: #378a5b;
  .buttons {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin-top: 5px;
    font-family: aleoregular;
  }
}

/* The starting CSS styles for the enter animation */
.addressSearchResults {
  position: absolute;
  left: 0;
  right: 0;
}

.addressSearchResults.ng-enter {
  height: 0;
  overflow: hidden;
  transition: 0.5s linear all;
  opacity: 0;
}

/* The finishing CSS styles for the enter animation */
.addressSearchResults.ng-enter.ng-enter-active {
  height: auto;
  overflow: visible;
  opacity: 1;
}

.platform-android .filter-bar .filter-bar-positive .item-input-wrapper {
  background-color: transparent !important;
  border-bottom-color: white !important;
}
