// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.


@import "../pages/home/HomePage";
@import "../pages/remindme/RemindMePage";
@import "font-awesome";
@font-face {
	font-family: 'aleoregular';
	src: url('../../fonts/aleo-regular-webfont.eot');
	src: url('../../fonts/aleo-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/aleo-regular-webfont.woff2') format('woff2'),
	url('../../fonts/aleo-regular-webfont.woff') format('woff'),
	url('../../fonts/aleo-regular-webfont.ttf') format('truetype'),
	url('../../fonts/aleo-regular-webfont.svg#aleoregular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'aleolight';
	src: url('../../fonts/aleo-light-webfont.eot');
	src: url('../../fonts/aleo-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/aleo-light-webfont.woff2') format('woff2'),
	url('../../fonts/aleo-light-webfont.woff') format('woff'),
	url('../../fonts/aleo-light-webfont.ttf') format('truetype'),
	url('../../fonts/aleo-light-webfont.svg#aleolight') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'aleolightitalic';
	src: url('../font/aleo-lightitalic-webfont.eot');
	src: url('../font/aleo-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('../font/aleo-lightitalic-webfont.woff2') format('woff2'),
	url('../font/aleo-lightitalic-webfont.woff') format('woff'),
	url('../font/aleo-lightitalic-webfont.ttf') format('truetype'),
	url('../font/aleo-lightitalic-webfont.svg#aleolightitalic') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'aleoitalic';
	src: url('../../fonts/aleo-italic-webfont.eot');
	src: url('../../fonts/aleo-italic-webfont.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/aleo-italic-webfont.woff2') format('woff2'),
	url('../../fonts/aleo-italic-webfont.woff') format('woff'),
	url('../../fonts/aleo-italic-webfont.ttf') format('truetype'),
	url('../../fonts/aleo-italic-webfont.svg#aleoitalic') format('svg');
	font-weight: normal;
	font-style: normal;

}

a, a:link, a:visited {
	color: white;
}

ion-fixed.bottom-actions {
	bottom:0;
	left: 0;
	right: 0;
	background-color: map-get($colors, primary);
	border-top: solid 1px #43a06f;
	button {
		width: 100%;

	}
}