// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.
@import "rollout-global.scss";
@import "../pages/home/HomePage";
@import "../pages/remindme/RemindMePage";
@import "font-awesome";

html, body {
	background-color: map-get($colors, primary);
}

a, a:link, a:visited {
	color: white;
}


@keyframes slideDown {
	0% {
		opacity: .1;
		transform: translateY(-30%);
		box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
}