
@keyframes slideDown {
	0% {
		opacity: .1;
	}
	100% {
		opacity: 1;
	}
}


.rollout ion-card {
	animation: .3s ease-out 0s 1 slideDown;
	color: #4e4e4e;
	background: linear-gradient(white, #fcfcfc);
	border-radius: 8px;
	box-shadow: 0 7px 28px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.15);
	margin-bottom: 30px;
}


.rollout ion-card ion-card-header {
	font-family: aleoregular, Sans-serif;
	font-size: 1.5em;
	color: map-get($colors, primary);
}

@media (prefers-color-scheme: dark) {
	.rollout ion-card {
		color: #b2b2b2;
		background: linear-gradient(#141615, #0f1110);
	}
	.rollout ion-card ion-card-header { 
		color: #d5d5d5;
	}
}