.home {
	font-family: aleoregular;
	background-color: map-get($colors, primary);
	h1 {
		font-family: aleolight;
	}
}

.pane {
	color: map-get($colors, light);
}

.action-buttons {
	height: 48px;
	background-color: #378a5b;
	.reminders {
		margin-left: auto;
		margin-right: auto;
		margin-top: 8px;
		vertical-align: top;
		font-size: 1.5em;
		i {
			margin-right: 10px;
			margin-left: 10px;
			font-size: 1.0em;
		}
	}
	/* disabling drop-off
	.reminders, .drop-off {
	  margin-top: 8px;
	  font-family: aleoregular;
	  vertical-align: top;
	  float: left;
	  width: 50%;
	  font-size: 1.1em;
	  i {
		margin-top: 8px;
		margin-right: 10px;
		margin-left: 10px;
		font-size: 1.3em;
	  }
	}*/
}

.home {
	.possible-holiday {
		color: white;
		font-family:sans-serif;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
		max-width: 350px;
		i {
			font-size:40px;
			display: block;
			float: left;
		}

		a:link, a:visited, a:active {
			color: white;
		}
	}
	.no-schedule, .error-message {
		h1 {
			color: white;
			text-align: center;
			margin-bottom: 30px;
		}
		text-align: center;
		margin: 20px;
		margin-top: 20%;
		color: white;
	}
	.schedule {
		.page.current {
			display: block;
		}
		.page {
		}
		.upcoming-event:nth-child(2) {
			&.animate {
				display: block;
				background-color: orange;
				-webkit-transform-origin: top;
				transform-origin: top;
				-webkit-animation: balance2 .5s ease 110ms 1 alternate;
				animation: balance2 .5s ease 110ms 1 alternate;

			}
		}
		.upcoming-event:nth-child(2n) {
			background-color: lighten(map-get($colors, primary), 3%);
		}
		.upcoming-event {
			font-family: aleolight;
			-webkit-perspective: 500;
			-moz-perspective: 500;
			-o-perspective: 500;
			perspective: 500;

			position: relative;
			-webkit-transition: all 250ms ease;
			-moz-transition: all 250ms ease;
			-o-transition: all 250ms ease;
			transition: all 250ms ease;

			&.animate {
				background-color: red;
				-webkit-transform-origin: bottom;
				transform-origin: bottom;
				-webkit-animation: balance .5s ease 110ms 1 alternate;
				animation: balance .5s ease 110ms 1 alternate;

			}

			padding-top: 10px;
			text-align: center;
			min-height: 250px;
		}
		.upcoming-event:nth-child(even) {
		}
	}

	.waste-types {
		padding: 0;
		margin: 0;
		list-style: none;

		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;

		-webkit-flex-flow: row no-wrap;
		justify-content: space-around;
	}

	.waste-type {
		-webkit-flex: 1 0 0;
		flex: 1 0 0;
		padding: 5px;
		width: 200px;
		height: 150px;
		margin: 5px;
		color: white;
		font-weight: bold;
		font-size: 3em;
		text-align: center;
	}

	.waste-type.heavy {
		/* This will be twice as big as the small item. */
		-webkit-flex: 2 0 0;
		flex: 2 0 0;
	}

	.upcoming-event {
		label {
			font-family: aleoregular;
			font-size: .5em;
		}
		h2 {
			margin-top: 10px;
			font-size: 2em;
			color: white;
		}
		h2 em {
			font-style: italic;
			font-weight: bold;
		}
		.when {
			font-size: .3em;
		}
		.waste-type img, .waste-type i, .waste-type img, .waste-type ion-icon {
			font-size: 2em;
			margin-left: auto;
			margin-right: auto;
			display: block;
			clear: both;
		}
		.waste-type i.fa {
			margin-top: 12px;
			font-size: 1.8em;
		}
	}

}

/* The starting CSS styles for the enter animation */
.address-search-results {
	ion-list {
		margin: 5px;
	}
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	border-radius: 2px;
	font-family: sans-serif;
	z-index: 1;
	position: absolute;
	top: 5px;
	left: 10px;
	right: 10px;
	backdrop-filter: blur(10px);
	background-color: rgba(255,255,255,.8);
	.item {
		background-color: transparent;
		color: #333333;
	}

}

.error-message {
	text-align: center;
	font-size: larger;
	font-family: aleolight;
	color: white;
}
.address-search-results.ng-enter {
	height: 0;
	overflow: hidden;
	transition: 0.5s linear all;
	opacity: 0;
}

/* The finishing CSS styles for the enter animation */
.address-search-results.ng-enter.ng-enter-active {
	height: auto;
	overflow: visible;
	opacity: 1;
}

.platform-android .filter-bar .filter-bar-positive .item-input-wrapper {
	background-color: transparent !important;
	border-bottom-color: white !important;
}
