
.upcoming-event:nth-child(2) {
	&.animate {
		display: block;
		background-color: orange;
		-webkit-transform-origin: top;
		transform-origin: top;
		-webkit-animation: balance2 .5s ease 110ms 1 alternate;
		animation: balance2 .5s ease 110ms 1 alternate;
	}
}

.upcoming-event:nth-child(2n) {
	background-color: lighten(map-get($colors, primary), 3%);
}

.upcoming-event {
	padding-bottom: 20px;
	font-family: aleolight;
	-webkit-perspective: 500;
	-moz-perspective: 500;
	-o-perspective: 500;
	perspective: 500;
	position: relative;
	-webkit-transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	-o-transition: all 250ms ease;
	transition: all 250ms ease;
	padding-top: 10px;

}

.upcoming-event:nth-child(even) {
}

.possible-holiday {
	font-family: sans-serif;
	i {
		font-size: 40px;
		display: block;
		float: left;
		color: orange;
		margin-left: 10px;
		margin-right: 10px;
	}

	a:link, a:visited, a:active {
	}
}

.waste-type {
	i {
		font-size: 5em;
		margin-bottom: 10px;
	}
	i, label, .when {
		text-align: center;
		display: block;
		width: 100%;
	}
	label {
		font-size: larger;
		font-weight: bold;
	}
	label, .when {
		font-family: sans-serif;
	}
	.when {
		margin-top: 5px;
		color: gray;
	}
}