@import '../../theme/rollout-global';

.detail {
	a, a:link, a:visited, a:active {
		color: darken(map-get($colors, primary), 20%);
	}

	h3 {
		text-transform: uppercase;
		font-weight: bold;
	}

	ul, li {
		padding: 2px;
		margin: 0;
		list-style: none;
	}
	li {
		margin-bottom: 20px;
	}
	em {
		font-family: aleoitalic;
	}
	u {
		color: map-get($colors, primary);
	}
}
