.detail {
	a, a:link, a:visited, a:active {
		color: black;
	}
	h2, h1 {
		font-family: aleoregular;
		text-align: center;
	}
	h3 {
		font-family: aleoitalic;
		font-size: large;
	}

	ul, li {
		padding: 2px;
		margin: 0;
		list-style: none;
	}
	li {
		margin-bottom: 20px;
	}
	em {
		font-family: aleoitalic;
	}
	u {
		color: map-get($colors, primary);
	}

	.category {
		padding: 5%;
		margin: 5%;
		background-color: rgba(255,255,255,.9);
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		border-radius: 2px;
		backdrop-filter: blur(10px);
		animation-name: slideDown;

		animation-duration: 1s;

		animation-timing-function: ease;

		visibility: visible !important;
	}

	@keyframes slideDown {
		0% {
			background-color: rgba(255,255,255,.1);
			transform: translateY(-80%);
		}
		50%{
			background-color: rgba(255,255,255,.8);
			transform: translateY(15%);
		}
		90%{
			background-color: rgba(255,255,255,.9);
			transform: translateY(-3%);
		}
		100% {
			transform: translateY(0%);
		}
	}


}
