.remind-me {
	background-color: map-get($colors, primary);
	font-family: aleoregular;
	padding-top: 40%;
	text-align: center;
	h2, h1, h3 {
		color: white !important;
	}

	em {
		font-family: aleoitalic;
	}
	u {
		color: #d7ffb8;
	}
}

.remind-me-action {
	background-color: #378a5b;
	.buttons {
		display: block;
		width: 100%;
		text-align: center;
		font-size: 2em;
		margin-top: 5px;

	}
}